{% extends 'navbar.html' %}
{% load static %}

{% block rating_bar %}
<link href="{% static '/css/rating_bar.css' %}" rel="stylesheet">
{% endblock %}


{% block dynamic_bar %}
<style>

{% for i in lists %}
.progress-line.{{i.problem_name}} span::after{
  content: "{{i.rating}}";
}
{% endfor %}
</style>
{% endblock %}


{% block title_canvas %}
{{contest_name}}
{% endblock %}


{% block content %}

<!-- <h1>{{name}}</h1> -->

<!-- {% for i in '0123456789'|make_list %}
<h1>{{ forloop.counter }}</h1>
{% endfor %} -->

<div class="search_bar">
  <form action='' method="POST" style="margin: 0px; padding: 0px; width: 100%;">
      {% csrf_token %}
      <input type="number" placeholder="Contest ID" name="contest_ID" class="search_input_box" style="font-size: 36px;  width: 80%; flex: 1;height: 40px;border: none;outline: none;">
      <button type="submit"><i class="fa fa-search" aria-hidden="true" style="font-size: 36px; color: #777; right: 0;"></i></button>
  </form>
</div>

  <div class="skill-bars">
    
    {% for i in lists %}
    <div class="bar">
      <div class="info">
        <span>Problem {{i.problem_name}}</span>
      </div>
      <div class="progress-line html {{i.problem_name}}">
        <span style="width: {{i.rating_percent}}%; "></span>
      </div>
    </div>
    {% endfor %}

  {% endblock %}
